body {
    background-color: #f0f0f0;
    padding: 120px  ;
}
h1 {
    color: #333;
    text-align: center;
    font-family: Avenir, sans-serif;
}
h3 {
    color: #666;
    text-align: center;
    font-family: Avenir, sans-serif;
}
p {
    color: #333;
    text-align: center;
    font-family: Avenir, sans-serif;
    font-size: 16px;
}

button {
    padding: 12px 24px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    font-family: Avenir, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
div#buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
    margin-top: 48px;
}
button#happyButton {
    background-color: rgb(228, 183, 2);
    color: #fff;
}
button#euphoriaButton {
    background-color: purple;
    color: #fff;
}
button#sadButton {
    background-color: #1e1e1e;
    color: #fff;
}
button#spaceButton {
    background-color: navy;
    color: #fff;
}
button#spicyButton {
    background-color: red;
    color: #fff;
}
button#chillButton {
    background-color: #3399ff;
    color: #fff;
}
button#romanticButton {
    background-color: #ff66cc;
    color: #fff;
}
button#luckyButton {
    background-color: green;
    color: #fff;
}
